.site-header {
  display: grid;
  grid-template-columns: auto; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "logo"
    "title"
    "nav";
  align-items: center;
  justify-items: space-between;
  padding: 0.10em 0.10em;
  background-color: #FFF8F1; 
}

.logo {
  grid-area: logo;
  justify-self: center;
  img {
    max-width: 10em; 
    height: auto;
  }
}

