.site-header {
  display: grid;
  grid-template-columns: auto; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "logo"
    "title"
    "nav";
  align-items: center;
  justify-items: space-between;
  padding: 0.10em 0.10em;
  background-color: #FFF8F1; 
}

.logo {
  grid-area: logo;
  justify-self: center;
  img {
    max-width: 10em; 
    height: auto;
  }
}

.main-nav {
  background-color: #FFF8F1; 
  padding: 1em 0;
  grid-area: nav;
  padding: 1em 0;
  margin: 1em auto;
  max-width: 90%; 
  padding: 1em 0;


  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; 
  }

  a {
    font-family:  'Quicksand', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #4A4A4A; 
    text-decoration: none;
    position: relative;
    padding: 0.5em 1em;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: #E6C79C; 
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &:hover {
      color: #F4C6C8; 
    }
  }
}

