.site-header {
  display: grid;
  grid-template-columns: 1fr; /* Une seule colonne pour toute la largeur */
  grid-template-rows: auto 1fr auto; /* Trois lignes : logo, titre, navigation */
  grid-template-areas: 
    "logo"
    "title"
    "nav";
  align-items: center;
  justify-items: center;
  padding: 2em 1em;
  background-color: #FFF8F1; 
}

.logo {
  grid-area: logo;
  img {
    max-width: 1,5em; /* Ajuste la taille du logo */
    height: auto;
  }
}

.site-title {
  grid-area: title;
  font-family: $font-title; 
  font-size: 2.5em; 
  font-weight: 700; 
  color: #F4C6C8; 
  text-align: center;
  margin: 1em 0;
}

