@use '../abstracts/variables' as *;


h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    color: $primary-color;
    margin-bottom: 0.5em;
  }
  
  .accent {
    font-family: $font-subtitle;
    color: $primary-color;
  }
  