
$primary-color:    #DFAE9C; 
$secondary-color:   #D6E3D3; // Vert sauge pâle – fond de sections, mise en avant douce
$background-color:  #FFF8F1; // Blanc crème – fond principal
$text-color:        #4A4A4A; // Gris anthracite – texte principal
$accent-color:      #E6C79C; // Doré doux – détails décoratifs, hover boutons

$font-title: 'Quicksand', sans-serif;       // Titres
$font-subtitle: 'Sacramento', cursive;      // Sous-titres / accents
$font-body: 'Nunito', sans-serif;           // Texte principal



