
$primary-color:    #DFAE9C; // Rose poudré – boutons, titres, éléments graphiques
$secondary-color:   #D6E3D3; // Vert sauge pâle – fond de sections, mise en avant douce
$background-color:  #FFF8F1; // Blanc crème – fond principal
$text-color:        #4A4A4A; // Gris anthracite – texte principal
$accent-color:      #E6C79C; // Doré doux – détails décoratifs, hover boutons

$font-title: 'Quicksand', sans-serif;       // Titres
$font-subtitle: 'Sacramento', cursive;      // Sous-titres / accents
$font-body: 'Nunito', sans-serif;           // Texte principal

// Variables pour la galerie
$gap: 20px; // Espacement entre les images

// Tailles des images selon les types d'écrans
$image-width-large: 300px;  // Taille des images pour grands écrans (max 300px)
$image-width-medium: 45%;   // Taille des images pour écrans moyens
$image-width-small: 90%;    // Taille des images pour petits écrans

